/************************************************
 *	Main structure                          *
 ************************************************/
html, body {
	margin: 0;
  	padding: 0;
}
body {
 	text-align: center;
  	font:12px/15px Georgia,"Times New Roman",Serif;
	color: #555558;
	background-attachment: fixed;
	background-color: #F3F4E6;
	background-image: url(images/bg.png);
	background-position: center;
}
#maincol {
  	width: 75%;
  	background: #fff;
  	float: left;
	padding-bottom: 2.5em;
}
#maincol .col {
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 85px;
	line-height: 1.6em;
	margin-top: 30px;
}
#singlecol {
  	width: 99%;
  	background: #fff;
  	float: left;
}
#singlecol .col {
	padding-bottom: 5px;
	padding-left: 125px;
	padding-right: 125px;
	line-height: 1.6em;
	margin-top: 30px;
}
#container{	
 	width: 780px;
 	text-align:left;
 	margin-left: auto;
 	display: block;
 	margin-right: auto;
 	background: #fff;
	border-left: 1px solid #404040;
 	border-right: 1px solid #404040;
 	padding-bottom: 0;
}

/************************************************
 *	Default Formatting                      *
 ************************************************/
a {
	text-decoration: none;
	color: #3C657B;
}
a:hover {
	text-decoration: underline;
}
a img {
        margin-left: 15px;
	padding: 4px;
	border: 1px solid #ccc;
	max-width: 100%;
}
ul li {
	margin-left: 30px;
	list-style: disc outside;
}
h1, h2, h3, h4, h5 {
	font-family: "Century Gothic", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}
h2 {
	font-size: 1.2em;
	margin-bottom: 5px;
}
div.section-header {
    border-bottom: 1px solid #3C657B;
    padding-bottom: 0px;
    margin-bottom: 15px;
	color: #3C657B;
    font-size: 0.9em;
    font-weight: bold;
    text-align: right;
}
ul.post-meta {
	margin: 15px 0 10px -15px;
	list-style-type: none;
	color: #bb4444;
}
ul.post-meta li {
	list-style-type: none;
}
.post-meta-key {
	color: #3C657B;
	font-weight: bold;
}
/************************************************
 *	Header					*
 ************************************************/
#header {
	padding: 0px;	
	margin-top: 0px;
	padding-top: 78px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999191;
	background: #2B2729;
	text-align: right;
	padding-right: 20px;
	padding-left: 5px;
	background: #2A2425 url(images/header.png) no-repeat;
}
#header h1 {
	padding: 0px;
	margin: 0px;
	margin-bottom:8px;
	font-size: 2.4em;
	letter-spacing:0.1em;
}
#header h1 a {        
	color: #fffff7;
}
#header h1 a:hover {
	text-decoration: none;
	color: #bb4444;
}
#header img {
	border: none;
}

#navmenu {
	background: #4D4B4B;
	border-bottom: 1px solid #636161;
	color: #FFFFFF;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 11px;
	height: 14px;
	letter-spacing: .1em;
	margin: 0px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 3px;
	text-align: left;
	text-decoration: none;
	list-style-type: none; list-style-image: none;
}

#navmenu a:link, #navmenu a:visited {
	color: #fffff7;
	font-variant: normal;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	text-decoration: none;
}

#navmenu a:hover {
	text-decoration: none;
	color: #bb4444;
}

#navmenu ol li {
	float: left;
}

/************************************************
 *	Post Entries				*
 ************************************************/

.entry {
	margin-top: 8px;
	padding-bottom: 20px;
}
.entrybody {
	margin-top: 11px;
}
.entrybody p {
	margin-top:8px;
	margin-bottom:16px;
}
.entrybody p a {
	font-weight: bold;
}
img.editlink {
	border: none !important;
	padding: 0 !important;
	margin: 4px 0 0 !important;
	right: 0;
}
h2.entrydate {
	margin-bottom: 1px;
	font-size: 1.8em;
	font-weight: normal;
	text-transform: uppercase;
}
h3.entrytitle {
	margin-top: 0px;
	margin-bottom: 1px;
	font-size: 2.2em;
	font-weight: normal;
	font-family: "Times New Roman",Serif;
}
.entrytitle a {
	color: #bb4444;
}
.entrytitle a:hover {
	color: #3C657B;
	text-decoration: none;
}
.entrymeta {
	font-size: 0.9em;
	margin-top: 3px;
	color: #8b8b8b;
	float: right;
}
.meta-author {
	color: #3C657B;
	font-size: 1em;
}
.meta-footer {
	margin-top: 5px;
	font-size: 0.9em;
	color: #a2a2a2;
}

/************************************************
 *	Single Post Entries			*
 ************************************************/
.single-metahead {
	font-size: 0.9em;
	margin-top: 25px;
	padding-bottom: 4px;
	border-bottom: 1px solid #a2a2a2;
	color: #828282;
	font-weight: bold;
}
.single-meta {
	font-size: 0.9em;
	color: #a2a2a2;
}
.bottommeta {
	text-align: center;
}
.single-title {
	color: #bb4444;
	font-size: 2.5em;
	font-weight: normal;
	font-family: "Times New Roman",Serif;
}
.single-title a:hover {
	text-decoration: none;
}
.single-author {
	font-size: 1.2em;
	font-weight: bold;
}
.nextprev {
	margin-bottom: 30px;
}
.nextprev .next {
	display: block;
	float: right;
}
/************************************************
 *	Archives					*
 ************************************************/
ul.archives {
	list-style-type: none;
	margin-left: 15px;
}
ul.archives li {
	list-style-type: none;
}
h4.archives {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 1.2em;
	font-weight: normal;
	font-family: "Times New Roman",Serif;
	text-transform: lowercase;
}
.archives a {
	color: #bb4444;
}
.archives a:hover {
	color: #3C657B;
	text-decoration: none;
}
/************************************************
 *	Footer					*
 ************************************************/

#footer {
	border-top: 1px solid #111;
	color: #eee;
	background: #2B2729;
	padding: 5px;
 	text-align: center;
 	font-size: 0.9em;
  	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	position: fixed;
	bottom: 0;
	width: 770px;
	left: 50%;
	margin-left: -390px;
}

/************************************************
 *	Navigation Sidebar			*
 ************************************************/
ul {
 	margin: 0 0 1em 0;
 	padding-left: 0px;
 	list-style-type: none;
}
ul.extern {
	font-style: italic;	
}
#navcol {
	padding: 5px;
	padding-top: 20px;
	clear: right;
	width: 23%;
  	right: 0px;
	float: right;
  	font-size: 1em;
	margin-bottom: 3em;
}
#navcol ul li {
	margin-left: 0px;
	list-style: none;
}

/************************************************
 *	Feeds 					*
 ************************************************/
.feedlink img {
	height: 14px;
	width: 14px;
	border: none;
	background: url('images/feedicon.gif') bottom no-repeat;
	position: relative;
	right: 0;
}
.feedlink:hover img {
	background: url('images/feedicon.gif') top no-repeat;
}
.comment-header .metalink {
	float:right;
	width:12px;
}
.metalink a span {
	display: none;
}
.metalink a:hover > span {
	display: inline;
}

/************************************************
 *	Search 					*
 ************************************************/
#s {
      	font:11px/15px Georgia,"Times New Roman",Serif;
      	color: #555558;
	opacity:.70;
      	filter:alpha(opacity=70);
}

/************************************************
 *	Comment Preview			        *
 ************************************************/
.comment-preview {
	position: relative;
	min-height: 30px;
	display: block;
	background: #FFFFFF;
	margin: 5px 5px 10px 5px;
	padding: 0 0 1px 0;
	clear: both;
	border: 1px solid #919191;
	/*-moz-border-radius: 10px;*/
}
.tags-allowed {
	margin: 5px 15px 10px 15px;
	padding: 0 0 1px 0;
	color: #565656;
	background: #DBDBDB;
	border: 1px solid #919191;
	text-align: center;
	/*-moz-border-radius: 10px;*/
}
/************************************************
 *	AJAX Comments			        *
 ************************************************/
.ajax-comments-wrapper {
	border: 1px solid #D0D0D0;
	background: #F5F5F5;
	clear: both;
	display: block;
	margin: 0px;
	display: block;
	/*-moz-border-radius: 10px;*/
}
.ajax-comment, .ajax-comment-alt {
	position: relative;
	display: block;
	margin: 5px 5px 10px 5px;
	padding: 0 0 1px 0;
	clear: both;
	font-family: lucida sans unicode, lucida grande, verdana, helvetica, arial, sans-serif;
	color: #222;
	font-size: small;
	font-weight: normal;
	line-height: 120%;
	border: 1px solid #D0D0D0;
	/*-moz-border-radius: 10px;*/
	overflow: hidden;
}
.ajax-comment-header, .ajax-comment-header-alt {
	top: 1px;
	width: 100%;
	position: relative;
	color: #515151;
	font-family: tahoma, verdana, helvetica, arial, sans-serif;
	font-size: x-small;
	padding: 1px 1px 1px -1px;
	margin: 0;
	clear: both;
	/*-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;*/
}
.ajax-comment-header {
	background: #E5E1C8;
}
.ajax-comment {
	background: #F1EDD2;
}
.ajax-comment-header-alt {
	background: #ACB3C0;
}
.ajax-comment-alt {
	background: #CACFD8;
}
.ajax-comment-header a, .ajax-comment-header-alt a {	
	color: #BB4444;
}
.ajax-comment-header a:hover, .ajax-comment-header-alt a:hover {
	text-decoration: none;
	color: #3C657B;
}
.ajax-comment-info {
	color: #666666;
	float: right;
	margin-right: 11px;
}
.ajax-comment-author {
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.0em;
}
.ajax-comment-text {
	padding: 5px;
	margin: 0;
	font-size: 8pt;
	line-height: 12pt;
	clear: both;
	display: block;
}
.ajax-options a{
	color: #BB4444;
	text-decoration: none;
	margin-left: 15px;
}

/************************************************
 *	Comments			        *
 ************************************************/
.comment-header {
	border-bottom: 1px solid #3C657B;
	padding-bottom: 0px;
	margin-top:70px;
    margin-bottom: 0px;
	color: #3C657B;
	font-family: 'Helvetica', 'Arial';
	font-size: 1.6em;
	font-weight: normal;
	text-align: left;
}
.commentlink img {
	height: 12px;
	width: 12px;
	margin: 0;
	padding: 0;
	border: none;
	background: url('images/commentfeed.gif') bottom no-repeat;
	position: relative;
	right: 0;
}
.commentlink:hover img {
	background: url('images/commentfeed.gif') top no-repeat;
}
ol#commentlist {
	padding: 5px;
 	margin-left: 0px;
 	color: #9b9b9b;
 	list-style-type: none;
 	font-size:0.9em;
}
#commentlist li  p {
 	padding: 0px;
 	margin: 0 0 7px 7px;
}
.commentname {
 	float: left;
 	margin: 0;
	font-size: 1.2em;
	color: #5b5b5b;
	margin-top: 2px;
}
.commentname a {
 	color: #BB4444;
}
.commentname a:hover {
 	text-decoration: none;
	color: #3C657B;
}
.commentinfo {
 	margin-top: 2px;
 	float: right;
 	text-align: right;
}
div.comment-track {
	font-size: 1.0em;
	font-family: 'Helvetica', 'Arial';
        font-weight: normal;
	margin-bottom: 15px;
	text-align: right;
}
.comment-page-numbers-left {
	float: left;
}
.comment-page-numbers-right {
	float: right;
}
.commentbody {
 	clear: both;
 	padding-top: 3px;
 	margin-top: 1px;
 	margin-bottom: 30px;
 	border-top: 1px solid #9b9b9b;
	font-family: 'Helvetica', 'Arial';
	line-height: 1.3em;
	font-size: 1.1em;
 	color: #5b5b5b;
}
.commenttext-author {
	clear: both;
 	padding-top: 3px;
 	margin-top: 1px;
 	margin-bottom: 30px;
 	border-top: 1px solid #9b9b9b;
	font-family: 'Helvetica', 'Arial';
	line-height: 1.3em;
	font-size: 1.1em;
	color: #3C657B;
	font-weight: normal;
}
.commenttext-author a {
	font-weight: bold;
}
.commenttext a {
	font-weight: bold;
}
#commentsform {
	text-align: left;
	border: 1px solid #ddd;
	background: #ededed;
	padding: 0px 10px;
	margin-top: 5px;
	/*-moz-border-radius: 10px;*/
}
#commentsformheader {
	margin-top: 45px;
	text-align: center;
	background: #aaaaaa;
	border: 2px solid #aaaaaa;
	padding: 5px;
	/*-moz-border-radius: 10px;*/
}
#commentshead {
	font-size: 1.4em;
	font-weight: normal;
	color: #ffffff;
}
.commentlabel {
	font-size: 1em;
	color: #414141;
	font-family: 'Helvetica', 'Arial';
	display: block;
	float: left;
	width: 3.5em;
	margin-right: 0.5em;
	text-align: right;
}
.user-loggedin {
	margin: 5px 15px 10px 15px;
	padding: 0 0 1px 0;
	color: #222;
	background: #F1EDD2;
	border: 1px solid #D0D0D0;
	text-align: center;
	/*-moz-border-radius: 10px;*/
	overflow: hidden;
}
#login-name a {
	color: #BB4444;
	font-weight: bold;
}
#login-name a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #3C657B;
}
#commentsform form{
	text-align:left;
	padding: 5px;
}

.commentArea {
        border: solid #919191 1px;
        height: 200px;
        font-family: Verdana, sans-serif;
        font-size: 11px;
	width: 412px;
}
#commentsform p {
	margin: 5px;
}

/************************************************
 *	Misc Formatting				*
 ************************************************/
.indent {
	margin-left: 10px;
}
pre code {
	display: block;
	padding: 5px;
	background-color: #eee;
	border: 1px solid #d3d3d6;
	border-left-width: 5px;
	white-space: pre;
	overflow-x: auto;
	width: 98%;
}
code {
	color: #666;
	font-family: 'lucida console', 'Courier New', monospace;
	font-size: 0.9em;
	font-size: 1em;
}
input[type="text"], textarea {
	padding:3px;
	border: 1px solid #d3d3d6;
	color: #535356;
}
input[type="submit"] {
	padding:2px;
	font-size: 1.25em;
	border: 1px solid #d3d3d3;
	background: #fff;
}
blockquote {
	border-left: 3px solid #686868;
	color: #888;
	padding-left: 8px;
	margin-left: 25px;
}

abbr, acronym {
	cursor: help;
}

#subtitle {
	font-family:"Century Gothic", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	margin-bottom:3px;
	font-size: 0.9em;
	text-transform:uppercase;
	color:#bbb;
}


#shortstory {
	font-family:"Book Antiqua","Bookman Old Style","Georgia",serif;
}

#shortstory div {
    text-indent:0.5cm;
    font-size:11pt;
    text-align:justify
}

#shortstory #first {
    text-indent:0;
}

#shortstory #quote {
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px solid black;
    text-indent: 0;
    font-size: 8pt;
    font-family: Verdana,sans-serif;
    font-style: italic;
}

#tooltip {
	background-color: #CCCCCC;
	border: 1px solid #888888;
	color: #333333;
	padding: 4px;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 7px;
	opacity: .85;
	max-width: 20em;
}
#tooltip h3 {
	font-size: 1.1em;
    margin: 0;
	padding: 0 3px;
	text-align: left !important;
}
#tooltip p {
	font-size: 0.95em;
	margin: 5px 0 0 5px;
	text-align: left;
}

span.req {
	color: #ff0000;
}

#docs span.tooltip {
	border-bottom: 1px dashed #666;
}

#docs a.name {
	font-weight: bold;
	text-decoration: none;
}

#docs span.arg-type {
	color: #666;
}

#docs span.fn {
	font-family: Courier;
}

#docs div.more {
	margin-left: 1em;
	margin-top: 5px;
}

#docs div.more div.desc pre {
	font-family: Verdana;
}	

#docs div.example {
	border-top: 1px solid #DDD;
	margin-top: 15px;
}

#docs {
	font-family: Verdana;
	line-height: 1.55em;
}

#docs li.method {
	margin-left: 20px;
}

#docs h3 {
	margin: 1em 0 0;
}

#docs div.example h3 {
	margin-bottom: .5em;
}

#docs div.example pre {
	color: #000;
	background: #EEE;
	padding: 5px;
}

#docs ul.options {
	margin: 0 0 1em;	
}

#docs ul.options li {
	margin:0.2em 1.5em 0;
}

.css .mlcom  { color: #4040c2; }
.css .color  { color: green; }
.css .string { color: teal; }
.css .attrib { color: navy; font-weight: bold; }
.css .value  { color: blue; }
.css .number { color: red; }

.html .php    { color: red; font-weight: bold; }
.html .tag    { color: navy; font-weight: bold; }
.html .aname  { color: purple; }
.html .avalue { color: fuchsia; }
.html .mlcom  { color: green; }
.html .entity { color: teal; }

.java .mlcom   { color: #4040c2; }
.java .com     { color: green; }
.java .string  { color: teal; }
.java .meta    { color: red; }
.java .keyword { color: navy; font-weight: bold; }
.java .number  { color: red; }

.javascript .mlcom    { color: #4040c2; }
.javascript .com      { color: green; }
.javascript .regexp   { color: maroon; }
.javascript .string   { color: teal; }
.javascript .keywords { color: navy; font-weight: bold; }
.javascript .global   { color: blue; }
.javascript .numbers  { color: red; }
